
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Dashboard</h2>
<div class="container">
    <div class="col-md-6">
        <div class="jumbotron">
            <a asp-action="Index" asp-controller="Books" class="h3">Books</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <a asp-action="Index" asp-controller="Categories" class="h3">Categories</a>
        </div>
    </div>
</div>

