
@model IEnumerable<SelectCategoryViewModel>

<div class="list-group">
    <a href="/BookStore/Index" class="list-group-item list-group-item-action @ViewBag.AllCategoriesAcive">All</a>
    @foreach (var category in Model)
    {
        <a href="/BookStore/Browse/@category.CategoryId" class="list-group-item list-group-item-action @category.Active">@category.Name</a>
    }
</div>
