
@{
    ViewData["Title"] = "Complete";
}

<h2>Thank you for your purchase!</h2>

<p>Your purchase was successful. Your order ID is @ViewData["OrderId"]</p>
<p>You can explore more books in our <a asp-controller="BookStore" asp-action="Index">store</a></p>

